<div id="spotify-container">
  <iframe id="spotplayer" src="https://open.spotify.com/embed/track/<%= spotify.id %>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>
