.menu_container {
  // margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  position: relative;
}

.menu_icon_container {
  display: flex;
  margin: 0 auto;
  // height: 80vh;
  width: 300px;
  // max-width: 400px;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-around;
}
