<canvas id="canvas"></canvas>

<div id="restore-canvas" class="btn btn-light m-3">Undo</div>
<div id="clear-canvas" class="btn btn-light m-3">Clear</div>
<br>
<input id="colors-canvas" type="color" placeholder="Colors">
<input id="width-canvas" type="range" min="1" max="100">
