<h1>CULTIVATE Home page</h1>

<%= link_to 'Create a new entry', new_entry_path %>
<br>
<%= link_to 'Create a guided entry', new_guided_entry_path  %>
<br>
<%= link_to 'See all my entries', entries_path %>
