<div class="container">

  <!--Navigate your path-->
  <div class="menu_container">
  <%= link_to "Guide Me", new_guided_entry_path, class: 'button-lg' %>
  <%= link_to "Write", new_entry_path, class: 'button-lg' %>
  <%= link_to "Community", new_entry_path, class: 'button-lg' %>
  <%= link_to "Doodle", doodle_path, class: 'button-lg' %>

  </div>

</div>
