.container-entries {
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
  h1 {
    margin-bottom: 24px;
  }
}

.card_entry {
  background-color: $light-gray;
  // max-height: 320px;
  width: 100%;
  padding: 12px 16px;
  margin: 16px auto;
  text-overflow: hidden;
  text-align: left;
  text-decoration: none;
  border-radius: 8px;
    a {
      color: $dark-gray !important;
      &:hover {
        text-decoration: none;
      }
    }
    hr {
      margin-top: 0;
    }
    small {
      padding: 16px 8px;
    }
}

.entry-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entry-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.fa-share, .entry-footer .fa-edit {
  font-size: 18px;
  color: $dark-green;
}

.container-editor {
  width: 90vw;
  max-width: 600px;
  // width: 100%;
  margin: 16px auto;
}
