.chat-container {
  width: 90vw;
  padding: 0;
}

.chat {
  border-radius: 4px;
}

.chatroom {
  background: white;
  height: calc(100vh - 66px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
  }
}

#messages {
  background-color: transparent !important;
  padding-top: 1rem;
  overflow: scroll;
  height: 400px;
}

#new_message {
  padding: 1rem;
  .form-group {
    margin-bottom: 0;
  }
}

.fa-edit {
  color: white !important;
  font-size: 24px !important;
}

.fa-user-slash {
  color: white !important;
  font-size: 24px !important;
}

.community-info {
  h4 {
    margin: 0;
  }
}

.chatroom-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
}
