.community-form-container {
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
  background-color: rgba(211,211,211,0.4);
  padding: 32px;
}

.community-name-input {
  text-align: center;
  font-size: 24px;
  height: 40px !important;
  color: $dark-gray
}

.community-user-input {
  width: 100px;
  height: 40px !important;
}

.add-user-icon {
  font-size: 24px;
  color: $light-gray;
}

.delete-user-icon {
  font-size: 24px;
  color: red;
  margin: 0 16px;
}
