.community-cards-container {
  width: 80%;
}

.community-header {
  margin: 8px auto;
  width: 200px;
  color: $light-gray;
}

.community-card {
  position: relative;
  width: 100%;
  background-color: rgba(237,237,237, 0.8);
  border-radius: 8px;
  h5 {
    color: $dark-green;
  }
  a {
    color: $dark-gray;
  }
  p {
    margin: 0;
    padding-left: 4px;
  }

  .deny {
    font-weight: bold;
    color: rgba(253,16,21, 1);
  }
  .accept {
    font-weight: bold;
    color: rgba(0,100,0, 1);
  }
}

.owner-tag {
  position: absolute;
  top: 7px;
  right: 7px;
  margin-left: 64px;
  color: $dark-gray;
  font-size: 14px;
}

