.community-cards-container {
  width: 80%;
}

.community-header {
  margin: 8px auto;
  width: 200px;
  color: $light-gray;
}

.community-card {
  width: 100%;
  background-color: rgba(211,211,211,1);
  border-radius: 8px;
  h5 {
    color: $dark-green;
  }
  a {
    color: $dark-gray;
  }
  .deny {
    font-weight: bold;
    color: $red;
  }
  .accept {
    font-weight: bold;
    color: darkgreen;
  }
}

.owner-tag {
  justify-self: end;
  margin-left: 64px;
  color: $dark-green;
}

