.entry_mood {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  > .col-form-label {
    display: none;
  }
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
}

.tag-selector:checked + label {
  // background-color: $dark-green;
  .emoji {
    color: $dark-green;
  }
}

.form-control {
  border-radius: 4px;
  border: none;
  text-align: left;
  // background: $light-gray;
}

.form-inputs {
  width: 80%;
  margin: 0 auto;
}
