.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  padding-left: 20px;
  text-align: center;
  margin-right: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  letter-spacing: 4px;
  color: $light-gray;
  &:hover {
    color: $light-gray;
  }
}

.navbar-brand {
  margin-right: 0;
}
