.navbar-cultivate {
  // justify-content: space-between;
  background: transparent;
  // padding-left: 20px;
  text-align: center;
  margin-right: 0;
  min-width: 250px
  i {
    font-size: 24px; // icons on navbar
  }
}

.navbar-cultivate .navbar-collapse {
  // flex-grow: 0;
}

.navbar-cultivate .navbar-brand {
  letter-spacing: 4px;
  color: $light-gray;
  &:hover {
    color: $light-gray;
  }
}

.navbar-brand {
  margin-right: 0;
  padding: 4px 4px;

}

.navbar-nav.no-static .dropdown-menu {
  position: absolute;
}

#navbarSupportedContent.navbar {
  padding: 4px 4px;
}

#navbarDropdown {
    font-size: 20px; // avatar icon
}
